# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.c8
*.sav
*.xaml
*.log
*.tlog
*.ipch
*.obj
*.pdb
*.ilk
*.lastbuildstate
*.pch
*.idb
*.unsuccessfulbuild
*.res
*.filters
*.sdf
*.user
